# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# 환경 변수 파일
.env

# 가상 환경 폴더
venv/
ENV/
env/
.venv/

# VS Code 설정
.vscode/

# Mac OS 관련
.DS_Store

# 로그 파일
*.log

# 기타 불필요한 파일
*.sqlite3
